@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';

@import '~sweetalert2/src/sweetalert2.scss';
@import '~select2/dist/css/select2.css';
@import '~datatables/media/css/jquery.dataTables.css';
@import '~bootstrap/scss/bootstrap';
@import "~air-datepicker/dist/css/datepicker.min.css";

$primary-color: #00006B;
$secondary-color: #FF9800;
$gray-color: #a7acb3;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
    width: 12px;
}

*::-webkit-scrollbar-button:increment, *::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-thumb {
    background-color: #697581;
    border-radius: 10px;
    border: 2px solid #f1f2f3;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
}

// Select2

.select2-container {
    width: 100% !important;

    .select2-selection {
        height: 37.04px !important;
        border-radius: 4px !important;
        outline: none !important;
        border-color: #ced4da !important;

        &:focus {
            border: 2px solid $primary-color !important;
            box-shadow: none !important;
        }
    }

    .select2-dropdown {
        border: none !important;
        background-color: white !important;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        margin-top: 2px;
    }
}

.select2-search__field {
    outline: none !important;
    box-shadow: none !important;
    font-size: 14px !important;
    border-radius: 4px !important;
    color: #5a5a5a;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #ced4da;
    padding: 4px 8px;
}

.select2-selection--multiple {
    input {
        margin-top: 2px !important;
    }

    .select2-selection__choice {
        margin-top: 1px !important;
    }
}

.select2-search--inline {
    display: contents; /*this will make the container disappear, making the child the one who sets the width of the element*/
}

.select2-search__field:placeholder-shown {
    width: 100% !important; /*makes the placeholder to be 100% of the width while there are no options selected*/
}

.select2-search--dropdown {
    padding: 4px 6px !important;
}

.select2-selection__arrow {
    margin-top: 0.283rem !important;
}

.select2-selection__rendered {
    padding: 0.283rem 0 !important;
    padding-left: 12px !important;
    padding-right: 20px !important;
}


//Estilos de Home
.menu-navigation {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: #00c5fb;
    border-bottom: 1px solid white;
    position: fixed;
    z-index: 100;

    .menu-logo {
        margin-left: 15px;
        height: 100%;
        display: flex;
        align-items: center;

        img {
            height: 60px;
        }
    }

    .menu-items {
        li {
            list-style: none;
            display: inline-flex;
            font-size: 1rem;

            .menu_items_list {
                color: white;
                text-decoration: none;
                margin-left: 10px;

                &:hover {
                    text-decoration: underline;
                }
            }

            .menu_items_botton {
                border-radius: 20px;
                border: 1px solid white;
                padding: 0.5rem 1.5rem;
                margin: 0 15px;
                color: white;
                font-weight: bolder;

                &:hover {
                    background: white;
                    color: #00c5fb;
                }
            }

            .menu_items_bottom-bold {
                border-radius: 20px;
                padding: 0.5rem 1.5rem;
                margin-right: 15px;
                color: #00c5fb;
                font-weight: bolder;
                background: white;
            }
        }
    }
}

.content-login {
    position: relative;

    .login {
        z-index: 999;
        right: -140px;
        padding: 20px 30px;
        color: #5a5a5a;
        position: absolute;
        font-size: 14px;
        cursor: auto;
        width: 460px;
        background: white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        border-radius: 4px;
        top: 50px;

        form {

            .input-group-login {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 16px;

                .form-label {
                    margin-bottom: 0.4rem;
                    font-size: 0.9rem;
                    color: #697581;
                }

                .form-controls {
                    border-radius: 4px;
                    border: 1px solid #697581;
                    background-color: white !important;

                    &:focus {
                        border: 2px solid #00c5fb;
                        margin: -1px;
                    }
                }

                .password {
                    position: relative;

                    .input-group-text {
                        position: absolute;
                        padding: 10.5px;
                        background: #00c5fb;
                        border-bottom-right-radius: 4px;
                        border-top-right-radius: 4px;
                        right: 0px;
                        top: 0px;

                        i {
                            font-size: 1.1rem;
                            color: white;
                        }
                    }
                }
            }

            .form-check {
                font-size: 1rem;
                margin-bottom: 1rem;

                .form-check-input {
                    border-radius: 2px;
                }
            }

            .form-footer {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .text-link {
                    font-size: 1rem;
                    display: inline-block;
                    color: transparent;
                    background-image: linear-gradient(0deg, #ffffFB 5%, #00C5FB 100%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    cursor: pointer;

                    &:hover {
                        color: #00c5fb;
                    }
                }

                .button-login {
                    outline: none;
                    background: #00c5fb;
                    border-radius: 20px;
                    padding: 0.6rem 1.6rem;
                    color: white;
                    span {

                    }
                }
            }
        }
    }
}

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 197, 251, 1) 49%, rgba(0, 208, 250, 1) 54%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    .hero-textos {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 40px;

        h1 {
            font-size: 3rem;
            color: white;
            line-height: 1;
            margin-bottom: 20px;

            span {
                font-weight: bold;
            }
        }

        p {
            font-size: 1.5rem;
            color: white;
        }

        .btn-group {
            margin-top: 20px;

            .boton {
                border-radius: 25px;
                border: 1px solid white;
                padding: 0.5rem 1.5rem;
                margin-right: 5px;
                color: white;
                font-weight: bolder;
                font-size: 1.2rem;

                &:hover {
                    background: white;
                    color: #00c5fb;
                }
            }

            .boton_bold {
                font-size: 1.2rem;
                border-radius: 25px;
                padding: 0.5rem 1.5rem;
                color: #00c5fb;
                font-weight: bolder;
                background: white;
            }
        }
    }

    .hero-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        img {
            width: 100%;
        }
    }

    .features {
        width: 70%;
        height: 180px;
        background: white;
        position: absolute;
        bottom: -90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;

        .feature-item {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 90px;
            }

            span {
                margin-top: 20px;
                font-size: 1.5rem;
                color: #00c5fb;
                text-align: center;
                font-weight: bold;
            }
        }
    }
}


.containers {
    width: 100%;
    height: 100vh;
    background: #EEF5FF;
    padding: 120px 60px;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    color: #3A4556;
    font-weight: bold;
}

.advantage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .advantage-image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;

        img {
            width: 100%;
        }
    }

    .advantage-cards {
        width: 100%;

        .item-one {
            margin-bottom: 25px;

            h2 {
                text-align: left;
                font-size: 1.8rem;
                color: #3A4556;
                font-weight: bolder;
            }

            span {
                text-align: left;
                font-size: 1.2rem;
                color: #697581;
                font-weight: lighter;
            }
        }

        .card_item {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            span {
                min-width: 70px;
                min-height: 70px;
                border-radius: 50%;
                background: white;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-right: 1.5rem;

                i {
                    font-size: 2.2rem;
                    color: #00c5fb;
                }
            }

            .card_item_text {
                h2 {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-bottom: 5px;
                    color: #697581;
                }

                p {
                    font-size: 1rem;
                    font-weight: lighter;
                    color: #697581;
                }
            }
        }
    }
}

.trust {
    width: 100%;
    height: 90vh;
    background: #EEF5FF;
    padding: 60px;
    display: flex;
    justify-content: center;

    .trust-items {
        width: 100%;
        padding: 10px;

        .target {
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: 2rem;

            .target-icon {
                min-width: 70px;
                min-height: 70px;
                border-radius: 50%;
                border: 1.5px solid #697581;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                margin-right: 1.5rem;

                .content-target-icon {
                    min-width: 65px;
                    min-height: 65px;
                    border-radius: 50%;
                    background: #00c5fb;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        color: white;
                        font-size: 1.8rem;
                    }
                }
            }

            .target-text {
                h2 {
                    font-size: 2rem;
                    font-weight: bold;
                    color: #697581;
                }

                p {
                    font-size: 1.5rem;
                    font-weight: lighter;
                    color: #697581;
                }
            }
        }

        .target-one {
            margin-left: 2rem;
        }

        .target-two {
            margin-left: 5rem;
        }

        .target-three {
            margin-left: 11rem;
        }
    }

    .trust-image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
        }
    }
}

.price {
    width: 100%;
    height: 90vh;
    background: #EEF5FF;
    padding: 60px 250px;

    .cards-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 8px;

        .card-price {
            width: 100%;
            margin: 1.2rem 0.8rem;
            text-align: center;
            background: #00c5fb;
            height: 400px;
            border-radius: 6px;
            padding: 40px 10px;
            overflow: hidden;
            color: #fff;
            display: flex;
            flex-direction: column;

            h2 {
                font-size: 1.8rem;
                font-weight: bold;
                text-align: center;
                color: white;
                margin: 10px 0;
            }

            p {
                color: #697581;
                font-size: 1.5rem;
                border-bottom: 1px solid white;
            }

            span {
                display: block;
                font-size: 1.2rem;
                margin-top: 6px;
                font-weight: lighter;
            }

            .boton-price {
                border-radius: 20px;
                padding: 0.5rem 1rem;
                margin: 30px 40px;
                color: #00c5fb;
                background: white;
                font-weight: bolder;
            }
        }

        .card-price-bold {
            transform: scale(1.1);
        }
    }
}

.opinions {
    padding-top: 1rem;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content-opinion {
        width: 100%;
        display: flex;

        .content-slider {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 20px 300px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            text-align: center;

            .descrip-slider {
                font-size: 1.1rem;
                font-weight: lighter;
                color: #697581;
                margin: 1rem;
            }

            .name-slider {
                font-size: 1.8rem;
                font-weight: bold;
                color: #697581;
            }
        }
    }
}

.footer {
    width: 100%;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #697581;

    .footer-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;

        .red-social {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: white;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    color: #00c5fb;
                    font-size: 1.3rem;
                }
            }
        }

        .contact {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            span {
                font-size: 1.1rem;
                color: white;
            }
        }

        .newsletter {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            span {
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 8px;
                color: #00c5fb;
                align-self: flex-start;
            }

            .input-boton {
                width: 100%;
                display: flex;

                input {
                    width: 100%;
                    border-right: none;
                    border-radius: 6px;
                    border-bottom-right-radius: revert;
                    border-top-right-radius: revert;

                    &:focus {
                        border-color: #00c5fb;
                    }
                }

                a {
                    width: 40%;
                    padding: 10px 12px;
                    background: #00c5fb;
                    border-bottom-right-radius: 6px;
                    border-top-right-radius: 6px;
                    color: white;
                    font-size: 1rem;
                }
            }
        }
    }

    .footer-botton {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 50px;
        background: #00c5fb;
        color: white;
        font-size: 1.2rem;
    }
}

.modal-container {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal {
        width: 600px;
        height: 300px;
        position: absolute;
        background: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 14px;

        .modal-header {
            width: 100%;
            position: relative;
            padding: 20px;


            .close {
                position: absolute;
                right: 20px;
                top: 20px;

                i {
                    font-size: 20px;
                }
            }
        }

        .modal-body {
            width: 100%;
            height: auto;
            position: relative;
            padding: 20px;
        }

        .modal-footer {
            width: 100%;
            position: relative;
            padding: 20px;
        }
    }
}

.logo-modal {
    width: 200px;
    margin-top: -60px;
}

.button-modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    margin-right: -20px;
    top: 0;
    margin-top: -20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: $secondary-color !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    background: white !important;

    i {
        font-size: 24px;
    }
}
#image-card {
    width: 100%;
    object-fit: cover;
}

//Estilos del dashboard

.wrapper-main {
    width: 100%;
    height: 100vh;
    background: #DBDFEA;
    padding: 10px;
    display: grid;
    overflow: hidden;
    grid-template-columns: 0.6fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.8fr;
    grid-template-areas:
    "logo header header header"
    "sidebar content content content";

    .logo-dashboard {
        grid-area: logo;
        background: $primary-color;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba(255, 255, 255, .25);
        border-top-left-radius: 10px;

        img {
            height: 60px;
        }
    }

    .main-header {
        grid-area: header;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, .25);
        border-top-right-radius: 10px;

        .header-navigation {
            width: 100%;
            padding-left: 10px;

            span {
                font-size: 18px;
                color: #8a8a8a;
                margin-right: 6px;
            }

            .active {
                font-weight: bolder;
                color: $secondary-color !important;
            }
        }

        .header-user {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 1.5rem;

            .user-notificacion {
                margin-right: 1.5rem;
                position: relative;
                cursor: pointer;

                i {
                    font-size: 1.7rem;
                    color: $gray-color;
                }

                span {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    top: -3px;
                    right: -3px;
                    border-radius: 50%;
                    background: red;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 12px;
                }
            }

            .user-account {
                display: flex;
                align-items: center;

                .user-name {
                    color: $gray-color;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    margin-right: 10px;

                    .user-rol {
                        font-size: 12px;
                        text-decoration: underline;
                    }

                    .profile {
                        font-size: 22px;
                    }
                }

                .user-photo {
                    margin-right: 10px;
                    width: 50px;
                    height: 50px;
                    background: $gray-color;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 2.8rem;
                        color: white;
                    }
                }

                a {
                    color: $gray-color;
                    cursor: pointer;

                    i {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .main-sidebar {
        grid-area: sidebar;
        background: $primary-color;
        display: flex;
        flex-direction: column;
        border-bottom-left-radius: 10px;
        padding: 10px 10px 10px 0;


        .sidebar-button {
            display: flex;
            flex-direction: column;

            .cta-button {
                width: 100%;
                font-size: 16px;
                color: white;
                display: flex;
                cursor: pointer;
                align-items: center;
                margin-bottom: 10px;
                height: 50px;
                border-radius: 0 4px 4px 0;
                text-decoration: none;

                .border-focus {
                    height: 100%;
                    width: 10px;
                    border-radius: 0 4px 4px 0;
                }

                i {
                    font-size: 20px;
                    min-width: 26px;
                    margin: 0 10px;
                }

                span {
                    font-size: 16px;
                    white-space: nowrap;
                }

                &:hover {
                    background: rgba(255, 255, 255, 0.1);;
                }
            }

            .cta-button_active {
                background: rgba(255, 255, 255, 0.1);

                .border-focus {
                    background: $secondary-color;
                }
            }
        }
    }

    .main-content {
        grid-area: content;
        background: white;
        border-bottom-right-radius: 10px;
        padding: 10px;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }
}
//dashboard-content

.controls-send{
    display: flex;
    justify-content: flex-end;
    padding:8px 0 12px 0;
}

.button-soft {
    height: 45px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    padding: 0 14px;
    margin-right: 5px;
    font-weight: bolder;

    span {
        display: inline-flex;
    }

    span + i {
        margin-left: 6px;
    }

    i {
        width: 16px;
    }
    .fa-times {
        font-size: 16px;
    }
}

.button-soft-primary {
    background: $primary-color;
    color: white;
}

.button-soft-secondary {
    background: $secondary-color !important;
    color: white;
}

.button-soft-error {
    background: #E60017 ;
    color: white;
}

.button-soft-success {
    background: #439446;
    color: white;
}

// navigacion-dashboard
.navigation {

    .link-navigation {
        font-size: 18px;
        color: #8a8a8a;
        margin-right: 6px;
        text-decoration: none;

        &:hover {
            color: $secondary_color;
        }
    }
    .link-navigation-active {
        color: $secondary_color;
        border-bottom: 3px solid $secondary-color;
    }
}


//datatables
table {
    button {
        margin-right: 6px;
    }
}
.table-col-header {
    width: 100%;
    background-color: $secondary-color;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
    padding: 6px;
    color: white;
    font-weight: bolder;
    font-size: 14px;

    span {
        display: inline-flex;
    }
}
.table-col-body {
    background: transparent !important;
    border: 2px solid #c6c6c6;
    font-weight: normal !important;
    color: inherit !important;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.dataTables_filter {
    border-radius: 4px !important;
}

.dt-buttons {
    font-size: 14px !important;
    display: inline-flex;
    position: relative;

    .dt-button-collection {
        position: absolute;
        z-index: 998;
        top: 40px !important;
        left: 206px !important;
        background: white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        border-radius: 4px;

        div {
            margin: 10px;
            display: flex;
            flex-direction: column;
            width: 200px;
            height: 164px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 5px;
            }
        }

        .active {
            background: $secondary-color !important;
            color: white !important;
        }

        button {
            font-size: 13px !important;
            margin: 4px !important;
            padding: 4px 8px !important;
            border: 2px solid $secondary-color !important;
            border-radius: 4px !important;
        }
    }

    button {
        padding: 6px 12px;
        border: none;
        margin-left: -1px;
        border-top: 2px solid $primary-color;
        border-bottom: 2px solid $primary-color;
        border-right: 2px solid $primary-color;
        color: $primary-color;
        background: transparent;

        &:hover {
            background: $primary-color;
            color: white;
        }

        &:first-child {
            margin-left: 3px;
            border-left: 2px solid $primary-color;
            border-radius: 4px 0 0 4px;
        }

        &:last-child {
            border-radius: 0 4px 4px 0;
        }

        span {
            display: inline-block;
        }
    }

    i {
        margin-left: 4px;
    }
}

.dataTables_length, .dataTables_filter {
    label {
        display: inline-flex !important;
        margin-bottom: 15px !important;
    }
}

.dataTables_paginate {
    padding-top: 10px !important;

    .paginate_button {
        color: $secondary-color !important;
        border-radius: 4px !important;
    }
}

.dataTables_info {
    padding-top: 15px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #5a5a5a !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: rgba(0, 0, 0, .1);
    border-color: transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: $secondary-color;
    color: white !important;
    border: none !important;
    font-weight: bolder !important;
}

table {
    width: 100% !important;
    font-size: 13px !important;
    color: #8a8a8a !important;
    border-collapse: separate !important;
    border-spacing: 4px !important;

    .button-soft {
        height: 36px !important;
        font-size: 13px;
    }

    td, th {
        border: none !important;
        border-radius: 4px !important;
        font-weight: bolder;
        min-width: 150px;
        text-align: center;
        white-space: nowrap;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .07), 0 3px 1px -2px rgba(0, 0, 0, .1), 0 1px 5px 0 rgba(0, 0, 0, .06);
    }

    td {
        padding: 6px 16px !important;
    }

    tr {
        border: none !important;
    }

    thead {
        th {
            color: #fff;
            background: white;
            font-size: 14px !important;
        }
    }
}

.controls-table {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    button {
        display: flex;
        align-items: center;

        &:last-child {
            margin-right: 0 !important;
        }
    }
}

.dataTables_scrollBody {
    margin-top: -8px;
}

.DTFC_RightWrapper {
    width: 240px !important;

    .DTFC_RightBodyWrapper {
        margin-top: -8px;

        .DTFC_RightBodyLiner {
            overflow-y: hidden !important;
        }
    }
}

.dataTables_scrollHeadInner {
    thead {
        th {
            background: $primary-color;
        }
    }
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none !important;
}


// Table Search

.dataTables_filter {
    margin-right: 5px;

    input {
        border-radius: 4px 0 0 4px;
        outline: none !important;
        border: 2px solid $secondary-color;
        box-shadow: none !important;
        border-right: none;
        padding: 0.375rem 0.75rem;
        min-width: 300px;
        margin-right: -1px;

        &:focus {
            border-color:$secondary-color;
        }
    }

    span {
        padding: 0 5px;
        background: $secondary-color;
        color: white;
        border-radius: 0 4px 4px 0;
        display: flex;
        align-items: center;

        i {
            margin-left: 6px;
            font-size: 16px;
        }
    }
}

//dashboard-admin
.content-dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    grid-template-areas:
    "vents vents commerce"
    "products products commerce";
    width: 100%;
    height: 100%;

    .dashboard-vents {
        grid-area: vents;
        background: #E5F2FE;
        border-radius: 4px;
        padding: 10px;
        overflow: auto;
    }

    .dashboard-product {
        grid-area: products;
        background: #E5DEF0;
        border-radius: 4px;
        padding: 10px;
        overflow: auto;
    }

    .dashboard-comerces {
        grid-area: commerce;
        background: #F6F0D8;
        border-radius: 4px;
        padding: 10px;
        overflow: auto;

    }
}

//modales
.modal-header {
    padding-bottom: 0 !important;
    border-bottom: none !important;
    position: relative;

    .modal-title {
        font-size: 16px;
        font-weight: bolder;
        color: $secondary-color;

        i {
            margin-right: 2px;
        }
    }

    button {
        font-size: 16px !important;
        background: transparent;
        border: none;
        color: inherit;
    }

}
.modal-content {
    border: none !important;
}

.modal-body, .modal-footer, .modal-header {
    padding: 1rem 2rem;
}

.modal-footer {
    padding-top: 0 !important;
    border-top: 0 !important;
}

//input
.input-soft {
    input, select, textarea {
        &:focus {
            border: 2px solid $primary-color;
            box-shadow: none !important;
        }
    }
}
textarea:focus {
    margin: -1px !important;
}
// Input & Group
.input-soft {

    label {
        margin-bottom: 0.4rem;
    }

    .required:after {
        content: " *";
        color: #e60017;
    }

    .input-border {
        border-radius: 4px;
    }

    .form-control[readonly] {
        background: white !important;
    }
}

.input-file {
    display: flex;
    padding: 0.458rem 0.75rem;
    border-radius: 4px;
    color: white;
    background-color: $secondary-color;
    justify-content: space-between;
    cursor: pointer;
    margin: 0 !important;

    span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 10px;
    }

    i {
        margin-top: 3px;
        margin-right: 2px;
    }
}

input[type="file"] {
    display: none;
}
